{% extends "base.html" %}
{% block title %}Update Password{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="container mt-5 pt-4">
    <h2>Edit Profile</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group text-center">
            <div class="profile-img-upload">
                {% if user.UserProfileModel_user.has_profile_pic %}
                <img src="{{user.UserProfileModel_user.profile_picture.url}}" class="profile-img" style="border: 1px solid grey;" alt="Profile Image">
                {% else %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="border:1px solid grey;"  class="profile-img" style="border: 1px solid grey;" alt="Profile Image">
                {% endif %}
            </div>
            </div>
            <div class="form-group">
                <label for="password">Old Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="new_password">
            </div>
            <div class="form-group">
                <label for="password">Re-Enter New Password</label>
                <input type="password" class="form-control" name="new_password_check">
            </div>
        <button type="submit" class="btn btn-primary btn-block">Update Password</button>
    </form>
</div>
{% endblock %}